<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="diagnosticConfiguration" type="Diagnostic.Configuration.DiagnosticSettings, Diagnostic"/>
  </configSections>
  <diagnosticConfiguration type="Diagnostic.UnitTests.TestLogWriterProxy, Diagnostic.UnitTests"/>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="MockCategoryOne">
    <listeners>
      <add name="sharedMockListener" type="Diagnostic.UnitTests.MockTraceListener, Diagnostic.UnitTests" listenerDataType="Diagnostic.UnitTests.MockTraceListenerData, Diagnostic.UnitTests"/>
      <!--<add name="errorsMockListener" type="Diagnostic.UnitTests.MockTraceListener, Diagnostic.UnitTests"	listenerDataType="Diagnostic.UnitTests.MockTraceListenerData, Diagnostic.UnitTests"/>-->
    </listeners>
    
    <categorySources>
      <add name="MockCategoryOne" switchValue="All">
        <listeners>
          <add name="sharedMockListener"/>
        </listeners>
      </add>
      <add name="Audit" switchValue="All">
        <listeners>
          <add name="sharedMockListener"/>
        </listeners>
      </add>
      <add name="General" switchValue="All">
        <listeners>
          <add name="sharedMockListener"/>
        </listeners>
      </add>
      <add name="Activity" switchValue="All">
        <listeners>
          <add name="sharedMockListener"/>
        </listeners>
      </add>
      <add name="Operation" switchValue="All">
        <listeners>
          <add name="sharedMockListener"/>
        </listeners>
      </add>
    </categorySources>
    
    <specialSources>
      <errors name="errors" switchValue="All">
        <listeners>
          <!--<add name="errorsMockListener" />-->
        </listeners>
      </errors>
    </specialSources>
    
  </loggingConfiguration>
  <system.diagnostics>
    <sources>
      <source name="MockCategoryOne" switchValue="All">
        <listeners>
          <add name="traceMockListener" type="Diagnostic.UnitTests.MockTraceListener, Diagnostic.UnitTests"/>
        </listeners> 
      </source>
      <source name="BadListener" switchValue="All">
        <listeners>
          <add name="badListener" type="DPPS.REQ.Diagnostic.DppsTraceListener, DPPS.REQ"/>
        </listeners>
      </source>
    </sources> 
  </system.diagnostics>
</configuration>
