<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) ABC Software.  All rights reserved.
-->
<?include Product.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <!-- ***  Privileged ***  -->
    <Condition Message="An administrator must approve or install [ProductName].">
      <![CDATA[Privileged]]>
    </Condition>

    <!-- ***  Major upgrade ***  -->
    <Property Id="NEWERVERSIONDETECTED" Secure="yes" />
    <Property Id="OLDERVERSIONBEINGUPGRADED" Secure="yes" />
    <Upgrade Id="$(var.ProductUpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>
    <Condition Message="Unable to install because a newer version of [ProductName] is already installed.">
      <![CDATA[NOT NEWERVERSIONDETECTED]]>
    </Condition>

    <!-- ***  Detect Framework  *** -->
    <PropertyRef Id="NETFRAMEWORK30"/>
    <Condition Message="This setup requires the .NET Framework version 3.0. Please install the .NET Framework and run this setup again.">
      <![CDATA[NETFRAMEWORK30]]>
    </Condition>

    <!-- ***  Detect Enterprice Library  *** -->
    <PropertyRef Id="ENTERPRICELIBRARY40"/>
    <Condition Message="This setup requires the Enterprice Library V4 to be installed.  Please install the Enterprice Library V4 and restart the installation.">
      <![CDATA[ENTERPRICELIBRARY40]]>
    </Condition>

  </Fragment>
</Wix>