<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Diagnostic.SonarQube" ToolsVersion="14.0">
  <Include Path="..\..\sonarqube\abc.diagnostics_devcsharp.ruleset" Action="Default" />
  <Include Path="C:\Program Files (x86)\Microsoft Visual Studio 14.0\Team Tools\Static Analysis Tools\Rule Sets\AllRules.ruleset" Action="Default" />
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S103" Action="None" />
    <Rule Id="S108" Action="None" />
    <Rule Id="S3257" Action="None" />
  </Rules>
</RuleSet>