<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - Abc.Diagnostics [DEV] ABC C#" ToolsVersion="14.0">
  <Include Path="..\..\sonarqube\abc.diagnostics_devcsharp.ruleset" Action="Default" />
  <Include Path="c:\program files (x86)\microsoft visual studio 14.0\team tools\static analysis tools\rule sets\minimumrecommendedrules.ruleset" Action="Default" />
</RuleSet>